/* Shield and Colors
================================ */
#shield {
	height: 500px;
	width: 500px;
  border: 1px #000 solid;
  margin: 10px 0;
  border-radius: 0 0 50% 50%;
}

.btn-metal {

}

.btn-colour {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

#or {
  background-image: linear-gradient(to bottom, #FFFF99 0, #FFFF22 100%);
}

#argent {
  background-image: linear-gradient(to bottom, #C0C0C0  0, #FFFFFF 100%);
}

#azure {
  background-image: linear-gradient(to bottom, #33CCFF 0, #0033CC 100%);
}

#gules {
  background-image: linear-gradient(to bottom, #FF5050 0, #FF0000 100%);
}

#purpure {
  background-image: linear-gradient(to bottom, #FF66CC 0, #CC3399 100%);
}

#sable {
  background-image: linear-gradient(to bottom, #C0C0C0 0, #000000 100%);
}

#vert {
  background-image: linear-gradient(to bottom, #66FF33 0, #009900 100%);
}

/* Tincture Colors
================================ */

.defaultColor {
  background-color:#CCCCCC;
}

.orColor {
  background-color:#FFFF22;
}

.argentColor {
  background-color:#FFFFFF;
}

.azureColor {
  background-color:#0033CC;
}

.gulesColor {
  background-color:#FF0000;
}

.purpureColor {
  background-color:#CC3399;
}

.sableColor {
  background-color:#000000;
}

.vertColor {
  background-color:#009900;
}



/* Chevron
================================ */

#chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 100px;
  width: 500px;

  margin-top: 150px;
}

#chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: red;
  -webkit-transform: skewY(25deg);
  -moz-transform: skewY(25deg);
  -ms-transform: skewY(25deg);
  -o-transform: skewY(25deg);
  transform: skewY(25deg);
}
#chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: red;
  -webkit-transform: skewY(-25deg);
  -moz-transform: skewY(-25deg);
  -ms-transform: skewY(-25deg);
  -o-transform: skewY(-25deg);
  transform: skewY(-25deg);
}

/* Parallelogram
================================ */

#bend-dexter {
  width: 150px;
  height: 500px;
  -webkit-transform: skewX(40deg);
  -moz-transform: skewX(40deg);
  -o-transform: skewX(40deg);
  transform: skewX(40deg);
  background: blue;

  margin-left: 200px;
}

#bend-sinister {
  width: 150px;
  height: 500px;
  -webkit-transform: skewX(-40deg);
  -moz-transform: skewX(-40deg);
  -o-transform: skewX(-40deg);
  transform: skewX(-40deg);
  background: red;

  margin-left: 140px;
}