/* Shield and Colors
================================ */
#shield {
	height: 500px;
	width: 500px;
  border: 1px #000 solid;
  margin: 10px 0;
  border-radius: 0 0 50% 50%;
  position: relative;
}

/* Tincture Colors
================================ */

.defaultColor {
  background-color:#CCCCCC;
}

.orColor {
  background-color:#FFFF22;
}

.argentColor {
  background-color:#FFFFFF;
}

.azureColor {
  background-color:#0033CC;
}

.gulesColor {
  background-color:#FF0000;
}

.purpureColor {
  background-color:#CC3399;
}

.sableColor {
  background-color:#000000;
}

.vertColor {
  background-color:#009900;
}



/* Chevron
================================ */

#chevron1 {
  position: absolute;
  top: 35%;
  left: 0;
  height: 25%;
  width: 50%;
  -webkit-transform: skewY(25deg);
  -moz-transform: skewY(25deg);
  -ms-transform: skewY(25deg);
  -o-transform: skewY(25deg);
  transform: skewY(25deg);
}
#chevron2 {
  position: absolute;
  top: 35%;
  right: 0;
  height: 25%;
  width: 50%;
  -webkit-transform: skewY(-25deg);
  -moz-transform: skewY(-25deg);
  -ms-transform: skewY(-25deg);
  -o-transform: skewY(-25deg);
  transform: skewY(-25deg);
}


/* Parallelogram-based Ordinaries
================================ */

/*diagonal line: topleft to bottomright*/
/*diagonal criscross part 1*/
#bend-dexter, #saltire1 {
  width: 15%;
  height: 100%;
  -webkit-transform: skewX(40deg);
  -moz-transform: skewX(40deg);
  -o-transform: skewX(40deg);
  transform: skewX(40deg);

  position: absolute;
  top: 0;
  left: 42%;
}

/*diagonal line: topright to bottomleft*/
/*diagonal criscross part 2*/
#bend-sinister, #saltire2 {
  width: 15%;
  height: 100%;
  -webkit-transform: skewX(-40deg);
  -moz-transform: skewX(-40deg);
  -o-transform: skewX(-40deg);
  transform: skewX(-40deg);

  position: absolute;
  top: 0;
  left: 42%;
}

/* Straight-based Ordinaries
================================ */

/*vertical line*/
/*plus sign part 1*/
#pale, #cross1 {
  width: 15%;
  height: 100%;
  /*border-radius: 0/0 0/0 5%/20% 20%/5%;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 10% 50%;
  -moz-border-radius-bottomleft: 10% 50%;

  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10% 50%;
  -webkit-border-bottom-left-radius: 10% 50%;*/

  position: absolute;
  top: 0;
  left: 42.5%;
}

/*horizontal line*/
/*plus sign part 1*/
#fess, #cross2 {
  width: 100%;
  height: 15%;

  position: absolute;
  top: 35%;
  left: 0;
}

/*horizontal section at the top*/
#chief {
  width: 100%;
  height: 30%;

  position: absolute;
  top: 0;
  left: 0;
}