<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>I'm a title!</title>

    <!-- Bootstrap CSS Links  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- <link href="../HomePage/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../HomePage/css/bootstrap-theme.min.css" rel="stylesheet" media="screen"> -->

    <link rel="stylesheet" href="coatOfArmsStyles.css">
  </head>
  <body>
    <div class="container theme-showcase">
      <h1>I'm an h1 element!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <hr>
      <h2>Controls</h2>
      
      <div ng-app="main">
        <div ng-controller="shieldController as shield">

        <div role="presentation" class="btn-group">
          <button id="fieldColor" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Field Color <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="fieldColor">
            <li role="menuitem" ng-repeat="color in shield.COLORS" ng-click="shield.fieldColor = color.data"><a>{{color.description}}</a></li>
          </ul>
        </div>

        <div role="presentation" class="btn-group">
          <button id="ordinaryType" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Ordinary Type <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="ordinaryType">
            <li ng-repeat="ordinary in shield.ORDINARIES" ng-click="shield.ordinary.type = ordinary.data"><a>{{ordinary.description}}</a></li>
          </ul>
        </div>

        <div role="presentation" class="btn-group">
          <button id="ordinaryColor" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Ordinary Color <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="ordinaryColor">
            <li ng-repeat="color in shield.COLORS" ng-click="shield.ordinary.color = color.data"><a>{{color.description}}</a></li>
          </ul>
        </div>

        <div id="shieldNegativeSpace">
          <div id="shieldEdge">
            <div id="shield" ng-class="shield.fieldColor">
              <div ng-class="[shield.ordinary.color, shield.ordinary.type + '1']"></div>
              <div ng-class="[shield.ordinary.color, shield.ordinary.type + '2']"></div>
            </div>
          </div>
        </div>

        </div> <!-- end shieldController--> 
      </div> <!-- end main module-->

    </div>

    
 <!--    jQuery and Bootstrap Scripts  -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

   <!-- <script type="text/javascript" src="../HomePage/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../HomePage/js/bootstrap.min.js"></script> -->
    <script src="angular.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>